<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Person</title>
</head>

<body>

<nav th:replace="~{fragment/head.html :: navigation}" class="navbar navbar-expand-lg navbar-light bg-light">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/person}" th:object="${person}" th:method="get">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control"  placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="Surname">Surname</label>
                    <input type="text" th:field="*{surname}" id="Surname" class="form-control"  placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="patronymic">Patronymic</label>
                    <input type="text" th:field="*{patronymic}" id="patronymic" class="form-control"  placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" th:field="*{city}" id="city" class="form-control"  placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <select th:field="*{streetId}" id="street" class="form-control">
                        <option th:each="street : ${streets}"
                                th:value="${street.id}"
                                th:text="${street.streetName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="buildingNumber">Building Number</label>
                    <input type="number" th:field="*{buildingNumber}" id="buildingNumber" class="form-control"  placeholder="Enter name">
                </div>

                <div class="form-group">
                    <table class="table table-bordered my-2">
                        <tr>
                            <th colspan="3">
                                <button type="submit" name="addPhone" class="btn btn-primary">Добавить телефон</button>
                            </th>
                        </tr>
                        <tr>
                            <th>№</th>
                            <th>Phone</th>
                            <th>Phone type</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="phone, phoneStat : *{phones}">
                            <td th:text="${phoneStat.count}">1</td>
                            <td>
                                <input type="hidden" th:field="*{phones[__${phoneStat.index}__].id}">
                                <input type="text" th:field="*{phones[__${phoneStat.index}__].number}" class="form-control">
                            </td>
                            <td>
                                <select th:field="*{phones[__${phoneStat.index}__].phoneType}" class="form-control">
                                    <option th:each="phType : ${phoneTypes}"
                                            th:text="${phType.typeName}"
                                            th:value="${phType.id}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" name="removePhone" class="btn btn-danger"
                                        th:value="${phoneStat.index}">Удалить телефон</button>
                            </td>
                        </tr>
                        <tr th:if="*{phones.empty}">
                            <td colspan="3">No phones</td>
                        </tr>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="~{fragment/footer.html :: scripts}">
</th:block>

</body>

</html>
